# This file is used by direnv to automatically load environment variables
# from the .env file whenever you enter this directory.

# To ensure security, direnv requires you to explicitly allow the execution
# of this file by running 'direnv allow' after any changes.
# This prevents unauthorized scripts from being executed automatically.

dotenv
