# Python files
__pycache__/
.ruff_cache/
.pytest_cache/
.coverage
.coverage.*

# Terraform/OpenTofu
.terraform/
*.tfvars
*.tfstate
*.tfstate.*
*.pem

# Misc
.venv/
.env
.DS_Store
wandb/*
!wandb/.gitkeep
data/*
!data/.gitkeep
checkpoints/*
!checkpoints/.gitkeep
