# Environment variables
.env
.envrc

# Python files
__pycache__/
*.egg-info/
dist/
.coverage
.venv
.pytest_cache
.mypy_cache
pytest-coverage.txt

# IDE
.vscode

# Terraform
.terraform
*.tfvars
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
