repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-executables-have-shebangs
      - id: check-added-large-files
        args: ["--maxkb=5000"]

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
    - id: black

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
    - id: flake8 # C90, E, F, W
      additional_dependencies:
        - darglint==1.8.1  # DAR
        - flake8-annotations==2.7.0  # ANN
        - flake8-bugbear==22.1.11  # B, B9
        - flake8-cognitive-complexity==0.1.0  # CCR
        - flake8-comprehensions==3.8.0  # C4
        - flake8-docstrings==1.6.0  # D
        - flake8-eradicate==1.2.0  # E800
        - flake8-import-order==0.18.1  # I
        - flake8-polyfill==1.0.2
        - flake8-pytest-style==1.6.0  # PT
        - pep8-naming==0.12.1  # N8

  - repo: https://github.com/python-poetry/poetry
    rev: 1.2.0
    hooks:
      - id: poetry-export
        args: ["--dev", "-f", "requirements.txt", "-o", "requirements.txt"]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.3.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.0.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies:
          - "@commitlint/config-conventional"

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.74.1
    hooks:
      - id: terraform_validate
      - id: terraform_docs
        args:
          - "--args=--config=terraform/.terraform.docs.yaml"
      - id: terraform_fmt
      - id: terraform_tflint
        args:
          - "--args=--enable-rule=terraform_comment_syntax"
          - "--args=--enable-rule=terraform_naming_convention"
          - "--args=--enable-rule=terraform_documented_outputs"
          - "--args=--enable-rule=terraform_documented_variables"
          - "--args=--enable-rule=terraform_typed_variables"
          - "--args=--enable-rule=terraform_unused_declarations"
          - "--args=--config=__GIT_WORKING_DIR__/terraform/.tflint.hcl"
